* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: 'Noto Sans', sans-serif;
}

main {
  display: flex;
}

.studentsList {
  margin-left: 2rem;
}

.forms {
  margin-left: 3rem;
}

#addForm, #deleteForm, #howManyForm {
  margin-bottom: 1rem;
}

.rightSide{
  display: flex;
  flex-direction: row;
}

.teamOutput{
  margin-left: 3rem;
}